
<%- include('partials/headerhome'); -%>

<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<section class="dashboard">
   <div>
    <div>
        <i class="ri-delete-bin-line"></i>
    </div>
    <h1>Are you sure?</h1>
    <p>Are you sure to delete your account? All data will be lost.</p>
    <div>
        <button>Yes</button>
        <button>Cancel</button>
    </div>
   </div>
    
</section>